.venue{
    background-color: bisque;
    border: solid 1px chocolate;
}
.bio{
    margin:10px;
}
.venue img{
    height: 75px;
    margin-right:10px;
}
.venuemodal {
    position: absolute;
    width: 90%;
    left: 25px;
    top: 78px;
    background-color: white;
}
.venueHeader{
    margin: 10px;
    display:flex;
    flex-direction: row;
}

.venueInfo{
    display:flex;
    margin: 10px;
    flex-direction: column;
}

.venue button{
    position:absolute;
    right:0px;
    margin: 8px;
    margin-top: 5px;
    display:inline;
    height: 28px;
}